.container {
	padding: 0 0rem;
	margin: 12px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.main {
	margin-top: 25px;
	width: 360px;
	columns: 1;
	column-gap: 10px;
	row-gap: 0px;
	padding: 0px auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

/* talets: */
@media only screen and (min-width: 768px) {
	.main {
		columns: 2;
		margin-top: 75px;
		width: calc(calc(360px * 2) + 22px);
	}
	.container {
		padding: 0 calc(calc(100vw - calc(calc(360px * 2) + 22px)) / 2);
		margin: 20px 0px;
	}
}
/*Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1160px) {
	.container {
		padding: 0 calc(calc(100vw - calc(calc(360px * 3) + 36px)) / 2);
		margin: 22px 0vw;
	}
	.main {
		columns: 3;
		width: calc(calc(360px * 3) + 36px);
	}
}
/* 
@media only screen and (min-width: 1281px) {
	.main {
		columns: 3;
	}
	.container {
		padding: 0 2rem;
		margin: 32px 4vw;
	}
}*/
